<footer class="main-footer" style = "background:black">
    <div id="google_translate_element" style="left"></div> 
<script type="text/javascript">
function googleTranslateElementInit() {
    new google.translate.TranslateElement(
        {pageLanguage: 'en'},
        'google_translate_element'
    );
} 
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    &copy; {% now "Y" %} - <strong>JHHHAM</strong>
    <div class="float-right d-none d-sm-inline-block" >
    </div>
</footer>